Package: com.sticktron.bigbubbles
Name: Big Bubbles
Version: 1.0.6-dev
Architecture: iphoneos-arm
Pre-Depends: firmware (>= 6.0)
Depends: mobilesubstrate, preferenceloader
Description: Bigger thumbnail bubbles for the Messages App (iOS 6/7)
Icon: file:///Library/PreferenceBundles/BigBubblesSettings.bundle/Icon@2x.png
Author: Sticktron <sticktron@hotmail.com>
Section: Tweaks
dev: sticktron
